body{

    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-image: url('./wp9359084.jpg') ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  
 
}

.weather{
    margin-top: 0px;
}


.current{
    float: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    margin: 5%;
    height: 20%;
    width: 20%;
}
.current img{
    width: 30%;
    height: 30%;
}

.one{
    float: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    margin: 5%;
    height: 20%;
    width: 20%;
}
.one img{
    width: 30%;
    height: 30%;
}

.two{
    float: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    margin: 5%;
    height: 20%;
    width: 20%;
}

.two img{
    width: 30%;
    height: 30%;
}

.three{
    float: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    margin: 5%;
    height: 20%;
    width: 20%;
}

.three img{
    width: 30%;
    height: 30%;
}


.four{
    float: left;
 
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    margin: 5%;
    height: 20%;
    width: 20%;
}

.four img{
    width: 30%;
    height: 30%;
}

.five{
    float: left;

    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    margin: 5%;
    height: 20%;
    width: 20%;
}

.five img{
    width: 30%;
    height: 30%;
}

.input{
    font-family: 'Bebas Neue', cursive;
    margin-left: 20%;
    font-size: 20px;
    color: white;
  
}
.input button{
    margin-left: 4px;
    background-color: grey;
}

.forcast{
    margin-left: 5%;
}

.search{
   margin-left: 5%;
   background-color: white;
}


.header{

    position: relative;
    margin-top: 10%;
    margin-left: 13%;
    color: white;
    font-family: 'The Nautigal', cursive;
    font-size: 40px;
}