body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

    background-image: url('./wp9359084.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.weather{
    overflow: hidden;
    width: 100%;
    height: 50%;
    padding-bottom: 25%;
}


.current{
    float: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    margin: 3%;
}
.current img{
    width: 20%;
    height: 20%;
}

.one{
    float: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    margin: 3%;
}
.one img{
    width: 50%;
    height: 50%;
}

.two{
    float: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    margin: 3%;
}

.two img{
    width: 50%;
    height: 50%;
}

.three{
    float: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    margin: 3%;
}

.three img{
    width: 50%;
    height: 50%;
}


.four{
    float: left;
 
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    margin: 3%;
}

.four img{
    width: 50%;
    height: 50%;
}

.five{
    float: left;

    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: white;
    margin: 3%;
}

.five img{
    width: 50%;
    height: 50%;
}

.input{
    margin-left: 10%;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
  color: white;
}

.search{
    margin-left: 10%;
}


.header{
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 10%;
    margin-left: 20%;
   
    color: white;
    font-family: 'The Nautigal', cursive;
    font-size: 60px;
}